@(raceId: String, raceName: String)

@main(raceName) {

<h1>@raceName</h1>

    <p>Please enter a comma-separated list of runner identifiers that you'd like to track. For London, 
        race numbers should work, but for other races it depends on the race - 
        e.g. for Manchester, it is the 
        "AId" value in this URL: "http://www.chiprace.co.uk/MyResults.aspx?CId=38&RId=932&EId=1&AId=26148"
        :</p>
    <form method="get" action="/@raceId/lookup">
        <input type="text" name="runners">
        <input type="submit" value="Track runners">
    </form>

}
