@import net.surguy.runnertrack.TimeUtils
@(raceName: String, runners: Seq[net.surguy.runnertrack.model.RichRunner])

@main(raceName + " - Runners") {

    <h1>@raceName runners</h1>
    <div class="runners">
        @for( runner <- runners){
            <div class="runner col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h2 class="runnerName">@runner.base.name</h2>
                <div class="stats">
                    <div class="club"><label>Club</label>: @runner.base.club</div>
                    <div class="startTime"><label>Start time</label>: @runner.base.startTime</div>
                    <div class="finishPlace"><label>Finish place</label>: @runner.base.finish.map(_.place)</div>
                    <div class="finishTime"><label>Finish time</label>: @runner.base.finish.map(d => TimeUtils.format(d.time))</div>
                    <div class="predictedFinishTime"><label>Predicted finish time</label>: @TimeUtils.format(runner.predictedFinish)</div>
                    <div class="predictedFinishTimeOfDay"><label>Predicted finish time of day</label>: @runner.predictedFinishTimeOfDay</div>
                </div>
                <table class="splits table">
                    <thead>
                        <tr>
                            <th>Distance</th>
                            <th>Time</th>
                            <th class="visible-md-block visible-lg-block">Time of day</th>
                            <th>Pace so far<span class="hidden-sm"> (min/&#x200b;mile)</span></th>
                            <th>Split pace<span class="hidden-sm"> (min/&#x200b;mile)</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(split <- runner.richSplits) {
                        <tr class="split">
                            <td>@split.base.distance</td>
                            <td>@TimeUtils.format(split.base.time)</td>
                            <td class="visible-md-block visible-lg-block">@split.timeOfDay</td>
                            <td>
                                <span class="hidden-sm">@split.paceSoFar.displayNoUnits</span>
                                <span class="visible-sm-inline">@split.paceSoFar</span>
                            </td>
                            <td>
                                <span class="hidden-sm">@split.splitPace.displayNoUnits</span>
                                <span class="visible-sm-inline">@split.splitPace</span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>

}
